footer {
   height: 440px;
   background-color: black;
   color: white;
}

.top {
   display: flex;
   height: 376px;
   gap: 70px;
   justify-content: space-between;
   padding: 80px 0 60px;
}

.block_1 h2 {
   font-weight: 700;
   font-size: 23px;
}

.block_1 h3 {
   font-weight: 500;
   font-size: 19px;
   line-height: 28px;
}

.block_1 p {
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
}

.block_1 input {
   width: 217px;
   height: 34px;
   font-size: 16px;
}

.bottom {
   height: 64px;
   align-content: center;
   text-align: center;
   opacity: 0.4;
   border-top: 1px #ffffff1e solid;
}