.containerError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
}

.titleError {
  margin-top: 241px;
  font-size: 110px;
  font-weight: 500;
}

.links {
  margin: 20px 0;
}

a {
  margin: 0 12px;
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

.buttonError {
  margin-top: 80px;
  width: 254px;
  height: 56px;
  padding: 10px 20px;
  background-color: #db4444;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonError:hover {
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
}
