.wrapper {
  width: 1305px;
  display: flex;
  margin: 60px 135px 140px 0;
}
.container {
  width: 371px;
  height: 326px;
  margin: 227px 0 227px 129px;
}

.titleBox {
  font-size: 36px;
  font-weight: 500;
}

.titleText {
  font-size: 16px;
  font-weight: 400;
}

.containerImg {
  width: 805px;
  height: 781px;
  border-radius: 4px;
  background-color: #cbe4e8;
}

.inputCreate {
  width: 370px;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 10px;
  margin: 10px 0;
}
.beforeLigin {
  margin-right: 16px;
}
.buttonBox {
  width: 371px;
  display: flex;
  gap: 10px;
}

.buttonCreate {
  width: 370px;
  height: 56px;
  padding: 10px;
  background-color: #db4444;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonError:hover {
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
}

.forgotPasswordButton {
  background: none;
  color: #db4444;
  border: none;
  cursor: pointer;
  text-align: left;
  margin: auto 0 auto 77px;
}
